@model Models.ApplicantRegistrationBO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .modal-header {
        padding: 12px 12px;
        background-color: #5b6886;
    }

        .modal-header .close {
            margin-top: 2px;
        }

        .modal-header h3 {
            margin: 0;
            line-height: 20px;
        }
</style>


<div class="wrapper">
    <div class="container-fluid">
        <!-- Page title box -->
        <div class="page-title-alt-bg"></div>
        <div class="page-title-box">
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Applicant</a></li>
                <li class="breadcrumb-item active">Applicant Registration</li>
            </ol>
            <h4 class="page-title"><i class="mdi mdi-account-multiple" style="color:black;"></i> Applicant Registration</h4>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card-box">
            <div class="form-group row">
                <div style="width:99%;" align="right">
                    <button type="button" class="btn btn-success btn-rounded w-md" id="Add" onclick="AddAppicant();"><b>Add</b></button>
                </div>
            </div>

            <div class="table-responsive">
                <div class="table table-bordered table-striped" id="ApplicantsList">

                </div>
            </div>
        </div><!-- end row -->
    </div> <!-- end card-box -->
</div>

<div class="row">
    <div class="col-12">
        <div>
            <!-- sample modal content -->
            <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 style="color:white;" class="modal-title" id="myModalLabel">&nbsp;&nbsp;&nbsp;<i class="mdi mdi-account-multiple"></i><b> Application Registration Details</b></h4>
                            @*<button type="button" style="color:white" class="close" data-dismiss="modal" aria-hidden="true">×</button>*@
                        </div>
                        <div class="modal-body" id="AddApplicantDetails">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-rounded " data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <!--  Modal content for the above example -->
        </div>
    </div>
</div>




<script type="text/javascript">

    $(document).ready(function () {
        HideLoader();
        LoadGrid();
    });


    function LoadGrid() {
        ShowLoader();
        $.ajax({
            type: "GET",
            url: '../ApplicantRegistration/getApplicantsList',
            data: {
            },
            success: function (data) {
                $("#ApplicantsList").html(data);
                $('#ApplicantGrid').DataTable();
                setTimeout(function () {
                    HideLoader();
                }, 500);
            }
        });
    }

    function AddAppicant() {
        ShowLoader();
        var url = "@Url.Content("~/ApplicantRegistration/CreateApplicant")";
        $(location).attr('href', url);
     
    }



    function ViewApplicant(iApplicantId) {
        ShowLoader();
        var Id = iApplicantId;
        $.ajax({
            type: "GET",
            url: '../ApplicantRegistration/ViewApplicantRegistration',
            data: {
                iApplicantId: Id,
            },
            success: function (data) {
                $("#AddApplicantDetails").html(data);
                setTimeout(function () {
                    HideLoader();
                }, 500);
            }
        });
    }


    function EditApplicant(Id) {
        ShowLoader();
        var url = '../ApplicantRegistration/EditApplicant?iApplicantId=' + Id;
        $(location).attr('href', url);

    }


    function DeleteApplicant(Id) {
        $.ajax({
            type: "POST",
            url: '../ApplicantRegistration/deleteApplicant',
            data: {
                iApplicantId: Id,
            },
            success: function (data) {
                if (data == "DELETED") {
                    $.NotificationApp.send("info!", "Applicant Deleted Successfully", 'top-right', '#5ba035', 'Info Notification');
                    LoadGrid();
                }
            }
        });

    }


</script>
