@model Models.MarketerBO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper">
    <div class="container-fluid">

        <!-- Page title box -->
        <div class="page-title-alt-bg"></div>
        <div class="page-title-box">
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item"><a href="javascript:void(0);">My Pages</a></li>
                <li class="breadcrumb-item active">Marketer View</li>

            </ol>
            <h4 class="page-title"><i class="mdi mdi-account-multiple" style="color:black;"></i> Marketer View</h4>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card-box">
            <div class="tab-content">
                <div class="tab-pane active" id="Add">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            S.No<br>
                                        </th>
                                        <th class="text-center">
                                            Requisition<br>
                                        </th>
                                        <th class="text-center">
                                            Department<br>
                                        </th>
                                        <th class="text-center">
                                            Status<br>
                                        </th>
                                        <th class="text-center">
                                            Action<br>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div><!-- end row -->
                </div>
            </div>
        </div> <!-- end card-box -->
    </div>
</div>



