@model Models.LocationMasterBO
@{
    ViewBag.Title = "Index";
}
<div class="wrapper">
    <div class="container-fluid">
        <!-- Page title box -->
        <div class="page-title-alt-bg"></div>
        <div class="page-title-box">
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Security</a></li>
                <li class="breadcrumb-item active">Location Master</li>
            </ol>
            <h4 class="page-title"><i class="mdi mdi-bookmark" style="color:olive;"></i>Location Master</h4>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-7">
                <div class="card-box">
                    <div class="panel widget">
                        <div class="form-group">
                            <div style="width:99%;" align="right">
                                <button type="button" class="btn btn-success btn-rounded w-md" id="Add" onclick="AddLocationMaster();"><b>Add</b></button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <div class="table table-bordered table-striped" id="LocationMasterList">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" id="FormPanel">

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        HideLoader();
        LoadGrid();
    });

    function LoadGrid() {
        ShowLoader();
        $.ajax({
            type: "GET",
            url: '../LocationMaster/GetLocationMasterList',
            data: {
            },
            success: function (data) {
                $("#LocationMasterList").html(data);
                $('#LocationMasterGrid').DataTable();
                setTimeout(function () {
                    HideLoader();
                }, 500);
            }
        });
    }

    function AddLocationMaster() {
        ShowLoader();
        $.ajax({
            url: '../LocationMaster/AddLocationMaster',
            success: function (data) {
                $("#FormPanel").html(data);
                setTimeout(function () {
                    HideLoader()
                }, 500);
            }
        });
        $("#FormPanel").show();
        $('#FormPanel').attr("autofocus", "");
        setTimeout(function () {
            $('#FormPanel').focus()
        }, 500);
        $("#tbodyLocationMaster").find("tr").each(function () {
            var thisid = $(this).attr("id");
            $("#" + thisid + "").removeClass("danger");
        });

    }

    function OnSubmitLocationMaster() {
        debugger;
        var str = "";
        if ($("#Location").val() == "") {
            str = str + "<i class='fa fa-bookmark vd_red'></i> &nbsp;Location is Required. <br/>";
        }
        if (str != "") {
            $.NotificationApp.send("Information!", "Check below fields please." + str, 'top-right', '#da8609', 'warning');
        }
        else {
            var LocationId = $("#LocationId").val();
            var Location = $("#Location").val();
            var IsActive = $("#IsActive").is(':checked');

            var Data = {
                "LocationId": LocationId,
                "Location": Location,
                "IsActive": IsActive,
            }

            Save(Data);
        }
    }

    function Save(Data) {
        debugger;
        $.ajax({
            url: '../LocationMaster/SaveorUpdateLocationMaster',
            data: JSON.stringify(Data),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == "SUCCESS") {
                    $.NotificationApp.send("Success!", "Location Created Successfully !!", 'top-right', '#5ba035', 'success');
                   // $("#FormPanel").hide();
                    ClearLocationMaster();
                    ShowLoader();
                    LoadGrid();
                    setTimeout(function () {
                        HideLoader()
                    }, 500);
                }
                else if (data == "ALREADY_EXISTS") {
                    $.NotificationApp.send("Warning!", "Already Exists.", 'top-right', '#da8609', 'warning');
                    alreadyexists();
                    setTimeout(function () {
                        HideLoader()
                    }, 500);
                }
                else if (data == "FAIL") {
                    fail();
                    setTimeout(function () {
                        HideLoader()
                    }, 500);
                }
            }
        });
    }

    function EditLocationMaster(LocationId) {
        $.ajax({
            url: '../LocationMaster/EditLocationMaster?A_iLocationId=' + LocationId,
            success: function (data) {
                $("#FormPanel").html(data);
            }
        });
        $("#FormPanel").show();
        $('#FormPanel').attr("autofocus", "");
        setTimeout(function () {
            $('#FormPanel').focus()
        }, 500);
        $("#tbodyLocationMaster").find("tr").each(function () {
            var thisid = $(this).attr("id");
            $("#" + thisid + "").removeClass("danger");
        });
    }

    function ClearLocationMaster() {
        debugger;
        $("#Location").val("");
        $("#LocationId").val("");
        $("#IsActive").prop("checked", false);
    }

    function CancelLocationMaster() {
        var url = '@Url.Action("Index", "LocationMaster")';
        window.location.href = url;
    }

    function DeleteLocationMaster(LocationId) {
        $.ajax({
            type: "POST",
            url: '../LocationMaster/DeleteLocationMaster',
            data: {
                A_iLocationId: LocationId,
            },
            success: function (data) {
                if (data == "DELETED") {
                    $.NotificationApp.send("info!", "Location DeActivated Successfully", 'top-right', '#5ba035', 'Info Notification');
                    LoadGrid();
                }
            }
        });
    }

</script>



