@model Models.TypeOfIndustryMasterBO

<div class="col-lg-12">
    <div class="panel-heading">
        <div class="card-box col-lg-12">
            <h3 class="panel-title">&nbsp;&nbsp;&nbsp; <span class="menu-icon"> <i class="fa fa-book"></i></span> Type Of Industry Entry </h3>
            <br />
            <div class="panel-body">
                <div class="col-lg-12">
                    <form class="form-horizontal" action="#" role="form">
                        <div class="form-group">
                            @Html.HiddenFor(m => m.TypeOfIndustryId)
                            <div class="row mgbt-sm-0">
                                &nbsp;&nbsp;&nbsp;
                                <label class="col-sm-4" style="font-size:15px;">Type Of Industry<span class="text-danger">*</span></label>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(model => model.TypeOfIndustry, new { @placeholder = "Type Of Industry", @class = "form-control", id = "TypeOfIndustry", @maxLength = "50" })
                                </div>
                            </div><br />

                            <div class="row mgbt-sm-0">
                                &nbsp;&nbsp;
                                <label class="col-sm-4" style="font-size:15px;margin-left:5px;">IsActive</label>
                                <div class="col-sm-6">
                                    @Html.CheckBoxFor(model => model.IsActive)
                                </div>
                            </div><br />
                            <div class="form-group form-actions">
                                <div class="col-lg-12">
                                    <button type="button" class="btn btn-success btn-rounded w-sm" onclick="OnSubmitTypeOfIndustry();">Submit</button>
                                    <button type="button" class="btn btn-secondary btn-rounded w-sm" onclick="CancelTypeOfIndustry();">Cancel</button>
                                    <button type="button" class="btn btn-primary btn-rounded w-sm" onclick="ClearTypeOfIndustry();">Clear</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



