<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <dataConfiguration defaultDatabase="DBConnectionString" />

  <add name="DBConnectionString" connectionString="Server=DESKTOP-SSR4B68\SCBEEADMIN;Database=HRMS;User Id=ScbeeAdmin;Password=Scbee@01" providerName="System.Data.SqlClient" />
</configuration>