@model Models.HRInteractionBO

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .modal-header {
        padding: 12px 12px;
        background-color: #259dd1;
    }

        .modal-header .close {
            margin-top: 2px;
        }

        .modal-header h3 {
            margin: 0;
            line-height: 20px;
        }
</style>


<div class="wrapper">
    <div class="container-fluid">
        <!-- Page title box -->
        <div class="page-title-alt-bg"></div>
        <div class="page-title-box">
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Applicants</a></li>
                <li class="breadcrumb-item active">HR Interaction</li>
            </ol>
            <h4 class="page-title"><i class="mdi mdi-account-multiple" style="color:black;"></i>HR Interaction</h4>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card-box">
            <div class="form-group row">
                <div style="width:99%;" align="right">
                    <button type="button" class="btn btn-success btn-rounded w-md" id="Add" onclick="AddRequest();"><b>Add</b></button>
                </div>
            </div>

            <div class="table-responsive">
                <div class="table table-bordered table-striped" id="HRInteractionList">

                </div>
            </div>
        </div><!-- end row -->
    </div> <!-- end card-box -->
</div>

<div class="row">
    <div class="col-12">
        <div>
            <!-- sample modal content -->
            <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 style="color:white;" class="modal-title" id="myModalLabel">&nbsp;&nbsp;&nbsp;<i class="mdi mdi-account-multiple"></i><b> HR Interaction Details</b></h4>
                            @*<button type="button" style="color:white" class="close" data-dismiss="modal" aria-hidden="true">×</button>*@
                        </div>
                        <div class="modal-body" id="AddHRInteractionDetails">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-rounded " data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <!--  Modal content for the above example -->
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        HideLoader();
        GetList();

    });

    function GetList() {
        ShowLoader();
        $.ajax({
            type: "GET",
            url: '../HRInteraction/getInteractionList',
            data: {
            },
            success: function (data) {
                $("#HRInteractionList").html(data);
                $('#HRInteractionGrid').DataTable();
                setTimeout(function () {
                    HideLoader();
                }, 500);
            }
        });
    }


    function AddRequest() {
        ShowLoader();
        var url = "@Url.Content("~/HRInteraction/CreateHRInteraction")";
        $(location).attr('href', url);
    }


    function ViewHRDetails(iRequestId) {
        ShowLoader();
        var Id = iRequestId;
        $.ajax({
            type: "GET",
            url: '../HRInteraction/ViewHRInteractionList',
            data: {
                iRequestId: Id,
            },
            success: function (data) {
                $("#AddHRInteractionDetails").html(data);
                setTimeout(function () {
                    HideLoader();
                }, 500);
            }
        });
    }


    function Edit(Id) {
        ShowLoader();
        var url = '../HRInteraction/EditHRInteraction?iRequestId=' + Id;
        $(location).attr('href', url);
    }


    function DeleteHR(Id) {
        $.ajax({
            type: "POST",
            url: '../HRInteraction/deleteHRInteraction',
            data: {
                iUserId: Id,
            },
            success: function (data) {
                if (data == "DELETED") {
                    $.NotificationApp.send("info!", "HR Deleted Successfully", 'top-right', '#5ba035', 'Info Notification');
                    GetList();
                }
            }
        });
    }

</script>


