@model Models.RejectedApplicantsBO

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .modal-header {
        padding: 12px 12px;
        background-color: #5b6886;
    }

        .modal-header .close {
            margin-top: 2px;
        }

        .modal-header h3 {
            margin: 0;
            line-height: 20px;
        }
         .modal-dialog {
   max-width:80%;
     }
</style>


<div class="wrapper">
    <div class="container-fluid">
        <!-- Page title box -->
        <div class="page-title-alt-bg"></div>
        <div class="page-title-box">
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Applicants</a></li>
                <li class="breadcrumb-item active">Rejected Applicants</li>
            </ol>
            <h4 class="page-title"><i class="mdi mdi-account-multiple" style="color:black;"></i>Rejected Applicants</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <div class="tab-content">
                    <div class="col-sm-6">
                        @Html.HiddenFor(m => m.JobId)
                        <div class="row mgbt-sm-0">
                            <label class="col-sm-3">Job Type<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(m => m.JobId, new SelectList(Model.JobList, "Id", "Value"), "Select JobType", new { @class = "form-control", id = "JobName", onchange = "GetRejectedList()" })
                            </div>
                        </div><br />
                    </div>
                    <div class="row">
                        <div class="table-responsive">
                            <div class="table table-bordered table-striped" id="RejectedApplicantsList">
                            </div>
                        </div>
                    </div><!-- end row -->
                </div>
            </div> <!-- end card-box -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div>
            <!-- sample modal content -->
            <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 style="color:white;" class="modal-title" id="myModalLabel">&nbsp;&nbsp;&nbsp;<i class="mdi mdi-account-multiple"></i><b> Rejected Applicant Details</b></h4>
                            @*<button type="button" style="color:white" class="close" data-dismiss="modal" aria-hidden="true">×</button>*@
                        </div>
                        <div class="modal-body" id="RejectedApplicantDetails">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-rounded " data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <!--  Modal content for the above example -->
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        HideLoader();
    });

    function GetRejectedList() {
        ShowLoader();
        var JobId = $("#JobName").val();
        $.ajax({
            type: "GET",
            url: '../RejectedApplicants/getRejectedApplicantsList',
            data: {
                A_iJobId: JobId,
            },
            success: function (data) {
                $("#RejectedApplicantsList").html(data);
                $('#RejectedApplicantsGrid').DataTable();
                setTimeout(function () {
                    HideLoader();
                }, 500);
            }
        });
    }

    function ViewRejectedApplicant(iApplicantId) {
        ShowLoader();
        var Id = iApplicantId;
        var JobId = $("#JobName").val();
        $.ajax({
            type: "GET",
            url: '../RejectedApplicants/ViewRejectedApplicants',
            data: {
                iApplicantId: Id,
                iJobPostingId: JobId
            },
            success: function (data) {
                $("#RejectedApplicantDetails").html(data);
                setTimeout(function () {
                    HideLoader();
                }, 500);
               
            }
        });
    }

</script>